extends layout

block content
  .container
    section.event-details-section
      h2= event.Title
      .event-info
        p.event-date-time
          strong Date: 
          | #{event.date} at #{event.time}
        p.event-location
          strong Location: 
          | #{event.Location || 'Not specified'}
        p.event-description
          strong Description: 
          | #{event.Description || 'No description available'}

      a(href='/events' class='btn btn-primary') Back to Events