extends layout

block content
  .container
    header.header
      nav.navbar
        .logo LOGO
        ul.nav-links
          li: a(href='/') MATCHMAKING
          li: a(href='/calendar') CALENDAR
          li: a(href='/events') EVENTS
          li: a(href='/courses') COURSES
          li: a(href='/messaging') MESSAGING
          li: a(href='/dashboard') DASHBOARD

    //- Event Details Section
    section.event-details-section
      h2= event.Title
      .event-info
        p.event-date-time
          strong Date: 
          | #{event.date} at #{event.time}
        p.event-location
          strong Location: 
          | #{event.Location || 'Not specified'}
        p.event-description
          strong Description: 
          | #{event.Description || 'No description available'}

      a(href='/events' class='btn btn-primary') Back to Events